:root {
    --bclr-header: #f4e2d8;
    --bclr-aside: #d77a61;
    --iconclr-aside: #f4d19b;
    --textclr-aside: #fffaf3;
    --bclr-main: #fffaf3;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: minmax(250px, 350px) 1fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.header {
    background-color: var(--bclr-header);
    display: grid;
    padding: 20px 100px 10px 50px;
    grid-template: auto 1fr / 2fr 1fr;
    box-shadow: 0 2px 10px rgba(100, 50, 50, 0.4);
    position: relative;
    gap: 1rem;
}

.header-icons {
    fill: #6b4c3b;
    height: 32px;
}

.search-div {
    display: flex;
    align-items: center;
}

.search-label {
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile-div {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.username {
    font-size: 28px;
    font-weight: bold;
}

.welcome-div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.welcome-div p {
    font-size: 20px;
    line-height: 1.3;
}
.welcome-div p strong {
    font-size: 30px;
}

.search-input {
    border: none;
    font-size: 1rem;
    background-color: #f7f7f7;;
    padding: 10px;
    border-radius: 12px;
    width: 800px;
}

.buttons-div {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: end;
}

.btn {
    color: #5c3b30;
    background-color: #eac0b0;
    border-radius: 12px;
    padding: 0.6em 2em;
    width: 8rem;
    cursor: pointer;
}

.avatar {
    height: 54px;
    width: 54px;
    border-radius: 50%;
}

.avatar-large {
    height: 74px;
    width: 74px;
    border-radius: 50%;
}

.aside {
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: var(--bclr-aside);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

main {
    background-color: var(--bclr-main);
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 2rem 1fr;
    gap: 0.5rem 1.5rem;
    padding: 2rem 1rem 0rem 1rem;
}

.projects-left {
    grid-column-start: 1;
}

.card {
    border-style: none none none solid;
    border-color: #d77a61;
    background-color: #f4e2d8;
    border-left-width: 8px;
    border-radius: 6px;
    padding: 1.2rem;
    line-height: 1.4;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card-actions {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.project-cards-left,
.project-cards-right {
    display: grid;
    gap: 1.5rem;
}

.announcements,
.trending {
    background-color: #d77a61;
    padding: 1.2rem;
    border-radius: 6px;
}

.sidebar-nav {
    display: flex;
    gap: 3rem;
    flex-direction: column;
}

.sidebar-nav a {
  display: flex;
  align-items: center;
  gap: 1rem
}

.sidebar-nav li {
    padding: 1rem 1.5rem;
}

.nav-primary,
.nav-secondary {
    display: flex;
    flex-direction: column;
}

.dashboard-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
    color: var(--textclr-aside);
}

.header-icon {
    fill: #f4d19b;
    height: 40px;
    width: 40px;
}

.title {
    font-size: 32px;
    font-weight: 900;
}

.icon {
    fill: var(--iconclr-aside);
    height: 32px;
    width: 32px;
}

a {
    text-decoration: none;
    color: var(--textclr-aside);
    font-size: 30px;
}

ul {
    list-style-type: none;
}